.weather-box-list {
   margin: auto;
   padding: 30px 0;
}
.weather-box {
   background: #ffffffbd;
   border-radius: 10px;
   box-shadow: 2px 2px 5px gray;
   padding: 10px;
   display: flex;
   justify-content: center;
}

@media (min-width: 768px) {
   .weather-box-list {
      display: flex;
   }
 }


@media (min-width: 780px) {
.weather-box {
   padding: 30px 0;
   margin: auto;
}
 }
